<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <parameter name="fileName"  value="D:\\Learing_Documents\\app_testcase.xlsx"/>
	  
  <test name="Test">
    <classes>
      <class name="com.youceedu.api.test.TestRun"/>
    </classes>
  </test> <!-- Test -->
  
 <listeners>
  		<!-- reportng测试报告替换testng测试报告 -->
  	<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
  	<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
  </listeners>
</suite> <!-- Suite -->
